<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="INFO"
      internalLogFile="logs\internal\internal-nlog.txt" >

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="HeaderLayout" value="${literal:text=ApplicationName|ModuleName|Hostname|HttpMethod|Url|Level|Date|Username|Message|Exception|SessionID|ClientIP" />

  <!-- TARGETS -->
  <targets>

    <!-- TARGET - Local CSV format file -->
    <target xsi:type="File"
            name="LOCAL_FILE"
            fileName="${basedir}\logs\${mdlc:item=ApplicationName}.log"
            encoding="utf-8"
            archiveEvery="Day"
            archiveFileName="${basedir}\logs\${mdlc:item=ApplicationName}.{#}.log"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="104857600" >

      <layout xsi:type="LayoutWithHeaderAndFooter" >
        <header xsi:type="SimpleLayout" text= "${var:HeaderLayout}" />

        <layout xsi:type="CsvLayout" delimiter="Pipe" withHeader="true" quoting="Nothing">
          <column name="ApplicationName"  layout="${mdlc:item=ApplicationName}" />
          <column name="ModuleName"       layout="${mdlc:item=ModuleName}" />
          <column name="Hostname"         layout="${mdlc:item=Hostname}" />
          <column name="HttpMethod"       layout="${mdlc:item=HttpMethod}" />
          <column name="Url"              layout="${mdlc:item=Url}" />
          <column name="Level"            layout="${mdlc:item=Level}" />
          <column name="Date"             layout="${longdate}" />
          <column name="Username"         layout="${mdlc:item=Username}" />
          <column name="Message"          layout="${mdlc:item=Message}" />
          <column name="Exception"        layout="${mdlc:item=Exception}" />
          <column name="SessionID"        layout="${mdlc:item=SessionID}" />
          <column name="ClientIP"         layout="${mdlc:item=ClientIP}" />
        </layout>
      </layout>
    </target>
    <!-- END TARGET - Local CSV format file -->

    <!-- TARGET - REST API -->
    <target xsi:type="WebService"
            name="REST_API"
            url="http://localhost/api/logging"
            protocol="JsonPost"
            encoding="UTF-8" >

      <parameter type="System.String" name="ApplicationName"  layout="${mdlc:item=ApplicationName}" />
      <parameter type="System.String" name="ModuleName"       layout="${mdlc:item=ModuleName}" />
      <parameter type="System.String" name="Hostname"         layout="${mdlc:item=Hostname}" />
      <parameter type="System.String" name="HttpMethod"       layout="${mdlc:item=HttpMethod}" />
      <parameter type="System.String" name="Url"              layout="${mdlc:item=Url}" />
      <parameter type="System.String" name="Level"            layout="${mdlc:item=Level}" />
      <parameter type="System.String" name="Date"             layout="${longdate}" />
      <parameter type="System.String" name="Username"         layout="${mdlc:item=Username}" />
      <parameter type="System.String" name="Message"          layout="${mdlc:item=Message}" />
      <parameter type="System.String" name="Exception"        layout="${mdlc:item=Exception}" />
      <parameter type="System.String" name="SessionID"        layout="${mdlc:item=SessionID}" />
      <parameter type="System.String" name="ClientIP"         layout="${mdlc:item=ClientIP}" />
    </target>
    <!-- END TARGET - REST API -->

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <!-- BlackHole without writeTo -->
    <logger name="FileLogger" minlevel="INFO" writeTo="LOCAL_FILE" final="true" />
    <logger name="WebServiceLogger" minlevel="INFO" writeTo="REST_API" final="true" />
  </rules>
</nlog>